* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

}

nav {
  height: 40px;
  display: flex;
  justify-content: center;
}

#main {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.01),
      #002834
    ),url("/assets/RIO.png");
  
  }

#wellcome {
display: flex;
width: 100%;
padding-left: 50px;
}

#bg-color {
    width: 100%;
    height: 600px;
    background-color: #002834;
}

#font1 { 
    color: white;
    font-family: "Lucida Sans";
}
#font2 { 
    color: white;
    font-family: "Lucida Sans";
    font-weight: 900;
    font-size: 200px;
}

#message-cards {
    width: 100%;
    justify-content: center;
    display: flex;
}

#card-message {
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid white;
}

#card-message:hover {
    border-bottom: 1px solid orange;
    cursor: pointer;
}